body {
  background-color: white;
}

th {
  cursor: pointer;
}

td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 70%;
}

table caption {
  font-weight: bold;
}
